.main,
.portfolio-main {
  background-color: #e5e5e5;
}
/* Logo */

.logo-blue {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
}
.logo-black {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #212121;
}
.logo-white {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
}
/* .header-nav { */
/* .header-list { */

/* Header */

.header-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
  letter-spacing: 0.02em;
}
.header-contact-link:hover {
  color: #2196f3;
}
.header-tel {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}
.header-mail {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}
.header-link:hover {
  color: #2196f3;
}

/* Main */

.main {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
  background: #2f303a;
}
.main-button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  background: #2196f3;
}
/* Hero */
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}
.hero-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}
.about-head {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
}
.masters-head {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
}
.masters-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
}
.masters-speciality {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}
/* Footer */

.footer {
  background: #2f303a;
}
.footer-contact-adress {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
}
.footer-contact-mail {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
}
.footer-contact-tel {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact-link:hover {
  color: #ffffff;
}

/* Portfolio */

.portfolio-main-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
}
.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}
.portfolio-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
