/* Lists without dots */
.hero-list,
.about-list,
.footer-contact-list,
.masters-list,
.portfolio-button-list,
.portfolio-list {
  list-style: none;
}

.portfolio-main {
  background-color: #e5e5e5;
}
/* Logo */

a {
  text-decoration: none;
}

.logo-blue {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
  font-style: normal;
}
.logo-black {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #212121;
  font-style: normal;
}
.logo-white {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
  font-style: normal;
}
/* .header-nav { */
.header-list,
.header-contact-list {
  list-style: none;
}

/* Header */
.header-item,
.header-link,
.header-contact-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-contact-link:hover {
  color: #2196f3;
}

/* Main */

.main {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
  background: #2f303a;
  list-style: none;
}
.main-button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  background: #2196f3;
}
/* Hero */
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}
.hero-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}
.about-head {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
}
.masters-head {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
}
.masters-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
}
.masters-speciality {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}
/* Footer */
.footer-logo {
  text-decoration: none;
}

.footer {
  background: #2f303a;
}
.footer-contact-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.footer-contact-link:hover {
  color: #ffffff;
}

/* Portfolio */

.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
}
.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}
.portfolio-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
/* Buttons */
.button,
.header-contact-link,
.portfolio-button,
.main-button {
  cursor: pointer;
}
